
h1 {
    font-family: 'Carter One', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
    padding: 20px;
}

header {
    text-align: center;
    padding: 0px;
}
header li{
    font-size: 20px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 10px #7777;
    border-radius: 10%;

}

.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap; 
    padding: 30px;  
}

.photo img {
    width: 370px;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px #7777;

}

.photo h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.photo p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 350px;
    margin-top: 20px;
    
}

footer {
    clear: both;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
  