** :before, *:after {
    box-sizing: border-box;
}

body {
    width: 960px;
    text-align: center; 
    margin: 0 auto;
}

header {font-size: 30px;
}

.photo {
    text-align: center;
}

section#photo-template {
    width: 270px;
    height: 270px;
    background-color: rgb(228, 228, 228);
    margin: 10px;
    float: left;
    font-size: 15px;
    overflow: hidden;
}

section#photo-template:first-child {
display: none;
}

img {
    width: 50%;
}  

footer {
    clear: both;
    text-align: center;
}
 